
footer .socials-link {
    font-size: 1.2em;
}

footer .socials-link a {
    color: var(--bs-secondary-color);
}

.socials-link a:hover {
    color: var(--main-accent);
}

.btn-socials {
    background-color: var(--main-text);
    color: var(--main-background);
}

.btn-socials:hover {
    background-color: var(--main-accent);
    color: var(--main-text);
    opacity: 0.9;
}

.navbar .socials-link {
    color: var(--main-accent);
    font-size: 2.5rem;
    opacity: 0.9;
}

.navbar .socials-link:hover {
    color: var(--main-accent);
    opacity: 1;
}